/* GLOBAL */

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #eee;
	font-size: 20px;
	font-family: 'Cormorant Garamond', serif;
	user-select: none;
}


/* MAIN PAGE */

#page { 
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
}

#blinds, #dimmer {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	position: fixed;
	transition: 0.5s ease;
	background-color: black;
}

#main {	
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
	max-width: 800px;
	max-height: 610px;
	position: relative;
	align-items: center;
	background-size: cover;
	justify-content: center;
	background-position: center;
	box-shadow: 0 0 3.5em 3em rgba(0,0,0,1) inset;
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.85)), url("../Assets/Images/background.gif");
}

#main_content {
	z-index: 2;
	text-align: center;
	transition: 1s ease;
}

#logo {
	width: 250px;
	max-width: 80%;
}

#name {
	font-size: 3.2em;
	margin-top: 20px;
	text-align: center;
}


/* MUSIC PLAYER */

#player {
	left: 50%;
	bottom: 0;
	gap: 0.8em;
	z-index: 2;
	padding: 1em;
	display: flex;
	position: absolute;
	flex-direction: column;
	transform: translate(-50%, 100%);
	transition: 1s ease;
}

#track_info {
	top: 1em;
	left: 50%;
	opacity: 0;
	z-index: 2;
	font-size: 0.8em;
	text-align: center;
	position: absolute;
	transition: 2s ease;
	transform: translateX(-50%);
}

#track_artist {
	font-style: italic;
	margin-bottom: 0.3em;
}

#track_title::before, #track_title::after {
	content: "♫";
}

#track_title::before {
	margin-right: 0.5em;
}

#track_title::after {
	margin-left: 0.4em;
}

#track_progress {
	font-size: 0.9em;
	text-align: center;
}

#player_controls {
	gap: 1em;
	display: flex;
	font-size: 0.8em;
	flex-direction: row;
}

#player_controls>* {
	cursor: pointer;
	transition: 0.05s;
}

#player_controls>*:active {
	color: #a1a1a1;
}


/* BREAKPOINTS */

@media only screen and (max-width: 680px) {
	#main {
		background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.8)), url("../Assets/Images/background.gif");
	}
	#name {
		font-size: 9vw;
		margin-top: 3vw;
	}
}
