/* GLOBAL */

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #eee;
	font-size: 20px;
	background-color: black;
	font-family: 'Cormorant Garamond', serif;
    user-select: none;
}


/* MAIN PAGE */

#main {	
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	overflow: hidden;
	max-width: 800px;
	position: relative;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 2em 2em rgba(0,0,0,0.7) inset;
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.85)), url("../Assets/Images/background.gif");
}

#main_content {
	text-align: center;
	transition: 1s ease;
}

#main_content:hover {
	opacity: 1 !important;
}

#logo {
	width: 250px;
	max-width: 80%;
}

#name {
	font-size: 3.2em;
    margin-top: 20px;
	text-align: center;
}


/* MUSIC PLAYER */

#player {
	left: 50%;
	bottom: 0;
	gap: 0.8em;
	padding: 1em;
	display: flex;
	position: absolute;
	flex-direction: column;
	transform: translate(-50%, 100%);
	transition: 1s ease;
}

#track_progress {
	font-size: 0.9em;
	text-align: center;
}

#player_controls {
	gap: 1em;
	display: flex;
	font-size: 0.8em;
	flex-direction: row;
}

#player_controls>* {
	cursor: pointer;
	transition: 0.05s;
}

#player_controls>*:active {
	color: #a1a1a1;
}


/* BREAKPOINTS */

@media only screen and (max-width: 680px) {
	#main {
		background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.8)), url("../Assets/Images/background.gif");
	}
	#name {
		font-size: 9vw;
        margin-top: 3vw;
	}
}
